* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Comic Sans MS', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #fdf6e3;
    background-image: radial-gradient(#d3cec0 2px, transparent 2px);
    background-size: 30px 30px;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 20px 0;
}

header h1 {
    font-size: 40px;
    color: #f5f5f5;
    background-color: #ff4757;
    text-shadow: #2f3542 6px 5px 2px;
    transform: rotate(-3deg);
    box-shadow: 10px 10px 0px #2f3542;
    padding: 10px 30px;
    margin-top: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
header h1:active {
    transform: rotate(-3deg);
    box-shadow: 0px 0px 0px #2f3542;
}

.game-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    perspective: 1000px;
}

.card {
    width: 170px;
    height: 150px;
    cursor: pointer;
    background-color: #ffffff00;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.front img,
.back img {
    width: 75%;
    height: 75%;
    object-fit: contain;
    pointer-events: none;
}

.front,
.back {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 32px;
    border-radius: 20px;
    backface-visibility: hidden;
    box-shadow: 0 8px 0px rgba(0, 0, 0, 0.1);
}


.front {
    background: #4ecdc4;
    color: white;
    border: 4px solid #ffffff;
}

.back {
    background: #ffe66d;
    transform: rotateY(180deg);
    border: 4px solid #ffffff;
}

.card.matched {
    pointer-events: none;
    animation: pulse 1s ease-in-out 1;
}



@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }

    50% {
        transform: scale(0.95);
        filter: brightness(1.1);
    }

    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}